/*===================================================================

Overwrite foundation

===================================================================*/

.row {
    max-width: 100%;
}

/*===================================================================

Custom Styling

===================================================================*/
body{
    padding: 20px;
}

#header {
    height: calc(100vh - 40px);
    width: 100%;
    background: red
}